@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

html{
    height: 100%;
    font-size: 16px;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100%;
}

// This is root for React not ::root
#root{
    height: 100%;
}

:is(h1,h2,h3){
    font-family: 'Raleway', sans-serif;
}

.journal-wrapper {
    // background-color: chartreuse;
    min-height: 100%;
    display: flex;
    align-items: flex-start;
}

.journals-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282a36;
    // Need to fix whatever BS is making this not be 100%
    min-height: 100vh;
    min-width: 4rem;
    color: #FFF;
}

.journals-list {
    a, a:visited{
    color: white;
}}

.journal-content-wrapper {
    min-width: 80%;
    display: flex;
}

.journal-entries-list {
    min-height: 100%;
    min-width: 400px;
    border-right: 2px solid #ededed;
    height: 100vh;
}

.new-journal-entry-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: none;
    background-color: lightblue;
    height: 4rem;
}

.journal-entry-menu-item > div {
    margin: 1rem 0.5rem;
}

.journal-entry-container {
    width: 100%;
    padding-left: 1rem;
}

.journal-entry {
    min-width: 100%;
}

.selected > div {
    background-color: #e6e6e6;
}

button {
    font-family: 'Lato', sans-serif;
    height: 30px;
    background-color: #fafafa;
    border: none;
    border-color: aqua;
    border-width: 2px;
    border-radius: 4px;
    box-shadow: 3px 5px 7px 3px rgba(182,182,182,0.58);
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hint {
    font-size: 0.8rem;
    color: red;
}

label {
    padding-left: 0.8rem;
    font-size: 1.2rem;
}

.form-container {
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container > div {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}