@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

html{
    font-size: 16px;
}

body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, rgb(250, 250, 250) 100%);
}

// This is root for React not ::root
html, body, #root, .App{
    height: 100%;
}

:is(h1,h2,h3,h4,h5,.card-header-title){
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

.journal-wrapper {
    display: flex;
    align-items: flex-start;
    padding-top: 0.5rem;
    border-top: 1px solid rgb(207, 207, 207);
    max-height: 100%;
}

.journals-list {
    a, a:visited{
    color: white;
}}

.journal-content-wrapper {
    min-width: 80%;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.journal-entries-list {
    width: 600px;
    border-right: 2px solid #ededed;
    // This is a bit hacky, but 100% would not play ball here.
    height: 85vh;
    overflow: scroll;
}

.new-journal-entry-button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    background-color: #FFF;
    margin: 1rem 0.5rem;
    height: 4rem;
}

.journal-entry-menu-item > div {
    margin: 1rem 0.5rem;
}

.journal-entry-container {
    width: 100%;
    padding-left: 1rem;
}

.journal-entry {
    width: 100%;
}

.selected > div {
    background-color: #f1f1f1;
}

button {
    font-family: 'Lato', sans-serif;
    margin: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container {
    margin: 0 auto;
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.public-wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.home-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.home-action-container{
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    border-left: 1px #c4c4c4 solid;
}

.card-header > input {
    margin: 1rem;
}

.entry-editor {
    min-height: 400px;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    a {
        color: white;
        &:hover{
            color: white;
        }
    }
}

.current-journal-wrapper {
    display: flex;
    align-items: center;

    .Dropdown-root {
        width: 40%;
    }
}