@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

html{
    height: 100%;
    font-size: 16px;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100%;
}

// This is root for React not ::root
html, body, #root, .App{
    height: 100%;
}

:is(h1,h2,h3,.card-header-title){
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

.journal-wrapper {
    // background-color: chartreuse;
    // min-height: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(207, 207, 207);
}

.journals-list {
    a, a:visited{
    color: white;
}}

.journal-content-wrapper {
    min-width: 80%;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.journal-entries-list {
    width: 550px;
    border-right: 2px solid #ededed;
    height: 100%;
    // overflow-y: scroll;
}

.new-journal-entry-button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    background-color: #FFF;
    margin: 1rem 0.5rem;
    height: 4rem;
}

.journal-entry-menu-item > div {
    margin: 1rem 0.5rem;
}

.journal-entry-container {
    width: 100%;
    padding-left: 1rem;
}

.journal-entry {
    width: 100%;
}

.selected > div {
    background-color: #e6e6e6;
}

button {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hint {
    font-size: 0.8rem;
    color: red;
}

label {
    padding-left: 0.8rem;
    font-size: 1.2rem;
}

.form-container {
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container > div {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.card-header > input {
    margin: 1rem;
}

.entry-editor {
    min-height: 400px;
}